## Bài 1: reversed list
Hãy viết một chương trình để đảo ngược các phần tử trong list

In [5]:
aList = [100, 200, 300, 400, 500]

[500, 400, 300, 200, 100]

**Output:**

In [ ]:
[500, 400, 300, 200, 100]

In [6]:
aList = [100, 200, 300, 400, 500]
# code below this line
copy = aList.copy()
for i in range(len(aList)):
    aList[i] = copy[len(copy)-i-1]
print(aList)
# code above this line

[500, 400, 300, 200, 100]

## Bài 2: concatenation
Hãy tạo ra một list mới bằng cách cộng các phần tử tương ứng của list cũ theo index tương ứng

In [ ]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]

**Output:**

In [ ]:
['My', 'name', 'is', 'Kelly']

In [7]:
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
# code below this line
for i in range(len(list1)):
    list1[i] += list2[i]
print(list1)
# code above this line

['My', 'name', 'is', 'Kelly']

## Bài 3: squared list
Cho sẵn một list chứa các số tự nhiên. Bình phương các phần tử trong list và lưu vào một list mới.

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]

**Output**

In [9]:
[1, 4, 9, 16, 25, 36, 49]
aList = [1, 2, 3, 4, 5, 6, 7]
# code below this line
for i in range(len(aList)):
    aList[i] *= aList[i]
print(aList)
# code above this line

[1, 4, 9, 16, 25, 36, 49]

## Bài 4: concatenation 2
Tạo ra một list mới từ 2 list ban đầu theo thứ tự như sau:

In [ ]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

**Output**

In [ ]:
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [2]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
# code below this line
list3 = []
for i in range(len(list1)):
    for y in range(len(list2)):
        list3.append(list1[i] + list2[y])
print(list3)
# code above this line

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

## Bài 5: print list
Cho 2 list có cùng số phần tử với nhau. Hãy in các thành phần trong 2 list theo format dưới đây:

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

**Output**

In [ ]:
10 400
20 300
30 200
40 100

In [63]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
# code below this line
for i in range(len(list1)):
    print(list1[i],list2[len(list1)-i-1])
# code above this line

10 400
20 300
30 200
40 100

## Bài 6: remove empty
Hãy xóa tất cả empty string trong list đã cho.

In [ ]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

**Output**

In [ ]:
["Mike", "Emma", "Kelly", "Brad"]

In [68]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
# code below this line
while "" in list1:
    list1.remove("")
print(list1)
# code above this line

['Mike', 'Emma', 'Kelly', 'Brad']

## Bài 7: list replacement
Hãy tìm và thay thế số 20 **đầu tiên** trong list thành 200.

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

**Output**

In [ ]:
[5, 10, 15, 200, 25, 50, 20]

In [81]:
list1 = [5, 10, 15, 20, 25, 50, 20]
# code below this line
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)
# code above this line

[5, 10, 15, 200, 25, 50, 20]

## Bài 8: list removement
Hãy xóa bỏ **tất cả** số 20 ra khỏi list

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

**Output:**

In [ ]:
[5, 15, 25, 50]

In [88]:
list1 = [5, 20, 15, 20, 25, 50, 20]
# code below this line
while 20 in list1:
    list1.remove(20)
print(list1)
# code above this line

[5, 15, 25, 50]